# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment files
.DS_Store

# PyTorch
# *.pt
*.pth

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# Output & Logs
*.log
out.txt
output/
logs/

test_*.py
patch_keyboard.py
